#content img {
    width: 300px; 
    height: 300px;
    border: 5px solid black; 
}

#content {
    text-align: center;
    background: rgb(86, 86, 255);
    width: 30%;
    padding: 35px 0px 35px 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    z-index: 5;
    border: 1px solid black;
}

body {
    background: lightblue; 
}

#page1 {
    position: absolute;
    top: 8px;
    left: 512.5px;
    width: 30%;
    height: 493px;
    background-color: white;
    z-index: 4;
    border: 1px solid black;
}

#page2 {
    position: absolute;
    top: 8px;
    left: 520px;
    width: 30%;
    height: 493px;
    background-color: white;
    z-index: 3;
    border: 1px solid black;
}

#page3 {
    position: absolute;
    top: 8px;
    left: 527.5px;
    width: 30%;
    height: 493px;
    background-color: white;
    z-index: 2;
    border: 1px solid black;
}

#page4 {
    position: absolute;
    top: 8px;
    left: 535px;
    width: 30%;
    height: 493px;
    background-color: white;
    z-index: 1;
    border: 1px solid black;
}


.button {
    margin-top: 325px;
    margin-left: 30%;
    margin-right: auto;
}